img{
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 900px;
    margin-left:1%;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
#name{
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
}
#n1{
    margin-left:20px;
    margin-top:1px;
    margin-bottom: 90px;
}
#navbar{
    background-color: grey;
    color: whitesmoke;
    height: 60px;
    width: 100%;
    display: flex;
    /* justify-content: flex-end;  */
    gap: 30px;
    align-items: center;
}  
#fx{
    padding-left: 530px;
    display: flex;
    gap: 48px;
}
#portfolio{
    color: whitesmoke;
    padding-top: 10px;
    margin-left: 10px;
}
#about{
    width: 50%;
}
body{
   overflow-x: hidden;
}
#head{
    color: whitesmoke;
    padding-right: 360px;
    align-items: flex-start;
}
#skill{
    background-color:#f0f1f5;
    width: 100%;
    height: 100%;
}
#skill h1{
    padding-top: 5%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-weight: bold; 
}
.container{
    display: flex;
    gap: 90px;
}
.line{
    flex: 1;
    height: 1px;
    background-color: black;
    margin-left: 10px;
}
#skills{
    padding-top: 40px; 
    padding-left: 240px;
}
#skills img{
    height: 440px;
    width: 400px;
    padding-left: 340px;
    background-color: none;
    box-shadow: none;
    overflow: hidden;
}
#skills h2{
   padding-left: 20px;
}
#skills p{ 
    padding-left: 60px;
}
#web{
    padding-top: 40px;
}
#web h2{
    padding-left: 20px;
}
#web p{
    padding-left: 90px;
}
#contact{
    margin-top: 20%;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    background-color:#f0f1f5;
}
#contact img{
    height: 100px;
    width: 100px;
}
#insta{
    padding-left: 40px;
}
#in{
    padding-left: 40px;
}
